* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  background-color: white;
  color: darkgrey;
}

body {
  line-height: 1.4;
}


.container {
  max-width: auto;
  margin: 0 auto;
}

/* Header CSS */
header {
  border: 1px solid red;
  height: 64px;
  display: flex;
  align-items: center;
}




nav.container {
  border: 1px solid red;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em;
}

nav div {
  display: flex;
  align-items: center;
}

nav li {
  display: inline;
  padding: 0 .5em;
}

a {
  text-decoration: none;
  color: grey;
  font-size: 1rem
}

.logo span {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 2em;
}

.logo span:first-of-type {
  font-weight: 600;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 730px) {
  .logo span {
    display: none;
  }

  .desktop {
    display: none;
  }

 .mobile {
    display: flex;
  }

 .logo {
   width: 25%;
 }

 div {
   width: 75%;
 }

 div ul {
   justify-content: space-between;
   width: 100%;
 }
}

/* BANNER */

.banner {
  border: 1px solid red;
  display: flex;
  align-items: center;
  padding: 2rem 1.5rem;
  background-color: lightgrey;
  color: grey;
  justify-content: center;
  align-items: center;

 }

div .banner {
  display: block;
}

.banner-image {
  width: 60%;
}

.banner img {
  width: 100%;
}


.banner-content {
  width: 40%;
  height: 100%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}



.banner-content h1 {
  font-size: 2.75rem;
  font-weight: 700;
  padding-bottom: 2rem;
  line-height: 1.2;

}

h1 span {
  display: block;

}

p span {
  display: block;
}

.banner-content p {
  font-size: 1.5rem;
  font-weight: 300;
  padding-bottom: 2rem;
}

.banner-text a {
  padding: 1rem 0;
  font-size: 1.25rem;
  font-weight: 300;
  color: white;
  background: grey;
  width: 100%;
  text-align: center;
  display: block;
}


@media only screen and (max-width: 1150px) {
  .banner {
    width: 100%;
  }

  .banner-content {
    width: 50%;
  }

  .banner-image{
    width: 50%;
  }


}

@media only screen and (max-width: 1000px) {
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .banner-image {
    width: 100%;
  }

  .banner-content {
    width: 100%;
    margin: 0;
  }

}

@media only screen and (max-width: 480px) {
  .banner-content h1 {
    font-size: 2rem;
  }

  .banner-content p {
    font-size: .75rem;
  }

  .banner .banner-text a {
    font-size: .75rem;
    width: 100%;
    padding: .5rem 5rem;
  }

  .banner-content {
    width: 100%;
  }
}


/* INFORMATION */

.info-mobile {
  display: none;
}

.info {
  display: flex;
  padding: 2rem 0 0 1.5rem;


}

.info img {
  height: 50%;
}

.info h1 {
  font-size: 2rem;
  padding-top: 1.75rem;
  padding-bottom: 1.25rem;
}

.info-left {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-right: 1.5rem;

}



.info-left p {
  padding-bottom: 1.25rem;

}

.info-left span {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.info-right {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-bottom: 1.75rem;
}

 .info-box {
  border: 1px solid red;
  display: flex;
  width: 100%;
  padding-right: 1rem;

}

.info-right .info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.5rem;
  width: 65%;
}

.info-right .info-box img {
  margin: 1.5rem;
  width: 35%;
  height: 100%;
}

.info-content h3 {
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: .5rem;
}

.info-content p {
  padding-bottom: .5rem;
}

@media only screen and (max-width: 1000px) {

 .info-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
  }

  .info-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 2.5rem 1rem 1rem;
    justify-content: center;
    align-items: center;
    padding-right: 0;
  }

  .info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .info-box img {
    width: 100%;
  }


  .info-left {
    display: none;
  }

  .info-right {
    display: none;
  }

}

/* COURSES */

  .mobile-courses {
    display: none;
  }

  .courses h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem 0 1.5rem;
    font-size: 2rem;
    border: 1px solid red;
    padding: 2rem 0 2rem 0;
    background-color: lightgrey;
}

  .courses-section {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    margin: 0 1.5rem;
    justify-content: center;
    background-color: lightgrey;

  }

  .courses-box {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 0.75rem 1.5rem 0.75rem;
    height: auto;
  }

  .courses-content {
    display: flex;
    border: 1px solid red;
    flex-direction: column;
  }

  .courses-content h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem 0 0.5rem 1rem;
  }

  .courses-content h3 {
    margin: 0 0 0.5rem 1rem;
  }

  .courses-content p {
    margin: 0 0.5rem 0.5rem 1rem;
  }

@media only screen and (max-width: 892px) {

  .courses {
    display: none;
  }

  .mobile-courses {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .mobile-courses h1 {
    padding-bottom: 1rem;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
  }

  .mobile-courses h2 {
    border: 1px solid red;
    font-size: 1.5rem;
    padding: 1rem 1rem 1.25rem 1rem;
    margin: 0.5rem 1rem;
    background-color: lightgrey;
  }

}

/* thesis */

.thesis h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1.5rem 0 1.5rem;
  font-size: 2rem;
  border: 1px solid red;
  padding: 2rem 0 2rem 0;
}

.exhibit-content {
  display: flex;
  margin: 0 1.5rem 0 1.5rem;
}

.exhibit-left {
  display: flex;
  border: 1px solid red;
  flex-direction: column;
  width: 60%;
  margin-right: 12px;
  padding-bottom: 2rem;
}

.exhibit-video {

}

.exhibit-leftcontent h2 {
  font-size: 1.5rem;
  margin: 1.5rem 0rem .75rem 0rem;
  font-weight: 400;

}

.exhibit-right {
  display: flex;
  flex-direction: column;
}

.exhibit-rightcontent-top {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
}

.exhibit-right img {
  padding: 1rem;
}


.exhibit-rightcontent-bottom {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
}
